# Dictionaries
Dictionaries are used to store values in key:value pairs. Distionaries are:

- Ordered
- Changeable
- Do not allow duplicates values

#### Dictionary constructor

In [2]:
d = dict(name="Abdullah Khan", age=12, occupation="Programmer")
print(d)
print(type(d))

{'name': 'Abdullah Khan', 'age': 12, 'occupation': 'Programmer'}
<class 'dict'>

In [1]:
# we can also use construct in this way
dic = dict({
    "name":"Abdullah",
    "age":23,
    "occupation":"Programmer"
})
print(type(dic))
print(dic)

<class 'dict'>
{'name': 'Abdullah', 'age': 23, 'occupation': 'Programmer'}

#### Access Items

In [6]:
# using keys
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d["name"]

'Abdullah Khan'

In [7]:
# using get() method
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d.get("age")

22

In [8]:
d.keys()

dict_keys(['name', 'age', 'occupation'])

In [9]:
d.values()

dict_values(['Abdullah Khan', 22, 'Programmer'])

In [10]:
d.items()

dict_items([('name', 'Abdullah Khan'), ('age', 22), ('occupation', 'Programmer')])

#### Changeable( add items )

In [11]:
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d["journey"] = "Middle"
d

{'name': 'Abdullah Khan',
 'age': 22,
 'occupation': 'Programmer',
 'journey': 'Middle'}

In [12]:
# using update() method
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d.update({"journey":"Middle"})
d

{'name': 'Abdullah Khan',
 'age': 22,
 'occupation': 'Programmer',
 'journey': 'Middle'}

#### Changeable( update items )

In [13]:
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d["name"] = "Waseem Khan"
d

{'name': 'Waseem Khan', 'age': 22, 'occupation': 'Programmer'}

In [15]:
# using update() method
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d.update({"name":"Waseem Khan"})
d

{'name': 'Waseem Khan', 'age': 22, 'occupation': 'Programmer'}

#### Changeable( remove items )

In [16]:
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
d.pop("name")
d

{'age': 22, 'occupation': 'Programmer'}

In [23]:
# for loop
d = {"name":"Abdullah Khan", "age":22, "occupation":"Programmer"}
for item in d.keys():
    print(item)

name
age
occupation

#### Nested Distionaries

In [24]:
myCollege = {
    "name":{
        "Branch1":"College Main Branch",
        "Branch2":"College New Branch"
    },
    "strength":{
        "1":1200,
        "2":2300
    },
    "occupation":{
        "11":"Teaching",
        "22":"Studying"
    }
}
myCollege

{'name': {'Branch1': 'College Main Branch', 'Branch2': 'College New Branch'},
 'strength': {'1': 1200, '2': 2300},
 'occupation': {'11': 'Teaching', '22': 'Studying'}}

In [26]:
for value in myCollege:
    print(myCollege[value])

{'Branch1': 'College Main Branch', 'Branch2': 'College New Branch'}
{'1': 1200, '2': 2300}
{'11': 'Teaching', '22': 'Studying'}

In [27]:
# accessing items of nested distionary
myCollege["occupation"]["11"]

'Teaching'

In [28]:
myCollege["strength"]["1"]

1200

#### Dictionaries Methods

- update()
- pop()
- get()
- clear()
- keys()
- values()
- items()
- copy()