# Tuples
Tuples are used to store multiple items in a single variable. Tuples allows:

- Ordered
- Unchangeable(we cannot add, remove and update items in tuple)
- Duplicated

#### Tuple Consturctor

In [4]:
t = tuple(("apple","mango","orange"))
print(type(t))

<class 'tuple'>

#### Accessing tuple items

In [7]:
t = ("apple","mango",12,23,34,True)
print(t[0])
print(t[:3])
print(t[-4:-1])

apple
('apple', 'mango', 12)
(12, 23, 34)

#### Way to possible unchangeable word to changeable in Tuple

Convert tuple into list, then perform the operations to add, remove and update items

In [11]:
Tuple = (1,2,3,4,5)
List = list(Tuple)
List.append(6)
List.extend(["apple","mango"])
List.remove(2)
Tuple = tuple(List)
print(Tuple)

(1, 3, 4, 5, 6, 'apple', 'mango')

#### Unpacking Tuples

In [23]:
t = (11,22,33,44,55,"mango")
a,b,c,d,*e = t
print(a,b,c,d,e)

11 22 33 44 [55, 'mango']

#### Tuple Methods

There are only 2 built-in methods of Tuple:
- count()
- index()

In [24]:
t = (111,222,333,444,555,111,222,111)
t.count(111)

3

In [27]:
t = (111,222,333,444,555,111,222,111)
t.index(222)

1

# Sets
Sets are used to store multiple items in a single variable. In sets:
- Unordered
- Unchangeable(but we can add and remove items)
- Not allow duplicates

#### Set Constructor

In [31]:
s = set(("apple","orange","mango",False,0,True,1))
print(s)
print(type(s))

{False, True, 'mango', 'orange', 'apple'}
<class 'set'>

#### Add Items

In [33]:
s = {"apple","mango","orange"}
s.add("banana")
print(s)

{'orange', 'apple', 'mango', 'banana'}

In [34]:
# adding more than one items combinely
s = {"apple","mango","orange"}
s.update({11,22,33,44})
print(s)

{33, 'apple', 'mango', 22, 'orange', 11, 44}

#### Remove Items
We can do it using both remove() or discard(). But advantage of discard() is that, it not raise error if items not exist

In [35]:
s = {"apple","mango","orange"}
s.remove("apple")
print(s)
s.discard("aaaa")
print(s)

{'orange', 'mango'}
{'orange', 'mango'}

#### Union() and Intersection() and Symmectric_difference()

In [36]:
# union()
s1 = {"apple","mango","orange"}
s2 = {11,22,33}
s3 = s1.union(s2) # union() is same as update()
print(s3)

{33, 'apple', 'mango', 22, 'orange', 11}

In [38]:
# intersection() --- return items present in both sets
s1 = {"apple","mango","orange"}
s2 = {"apple","orange","kiwi"}
s3 = s1.intersection(s2)
print(s3)

{'orange', 'apple'}

In [39]:
# symmetric_difference() --- return items don't present in both sets
s1 = {"apple","mango","orange"}
s2 = {"apple",11,22}
s3 = s1.symmetric_difference(s2)
print(s3)

{'orange', 11, 'mango', 22}

#### Popular Set Methods

- add()
- remove()
- discard()
- union()
- update()
- intersection()
- symmetric_difference()
- clear()
- copy()